// Path to Bulma's sass folder
@use "../scss/bulma/sass" with ($family-primary: '"Nunito", sans-serif',
  $control-border-width: 2px,
  $column-gap: 0.33rem);

@use "../scss/bulma/sass/layout/hero.scss" as h;

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -120px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.my-ellipsis {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.has-background-info-50, #enterprise-container .columns:nth-child(even) p {
  --bulma-background-l: var(--bulma-info-50-l);
}

.has-background-info-30, #enterprise-container .columns:nth-child(odd) p {
  --bulma-background-l: var(--bulma-info-50-l);
}

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");